:root {
  --grey: #EDF7FD;
  --med-grey: #E4E4E5;
  --m3-gray: #D2D2D2;
  --b1: #C7DDED;
  --b2: #A8CBE3;
  --b3: #8DC4EC;
  --b4: #66A2CD;
  --b5: #038BED ;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-Header {
  background-color: #c5cfe3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.title {
  font-size: 20px;
  /* margin-left:20px; */
  margin-top:10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-weight: bolder;
}
.job {
  list-style: none;
  padding-left: 0;
}


.job p {
  max-width: none;
  font-weight: bold;
  margin: 0;
}

.jobCard {
  display: table;
  width: 175px;
  height: 75px;
  border-radius: 5px;
  border-width: 2px;
  border: solid;
  border-color: var(--m3-gray);
  background-color:var(--grey);
  padding-left: 10px;
  margin: 15px;
  text-align: left;
  vertical-align: middle;
}
.jobTrack {
  display: flex;
}

.jobList {
  
  background-color: var(--med-grey);
  width: 275px;
  border-color: var(--m3-grey);
  border: solid;
  border-width:2px;
  margin-left:8px;
  margin-right:8px; 
  border-radius: 8px;
}

 #wishlist {
  border-color: var(--b1);
  border-width: 3px;
  box-shadow: 5px 5px 2px 1px var(--b1);
  
 }

 #applied {
  border-color: var(--b2);
  border-width: 3px;
  box-shadow: 5px 5px 2px 1px var(--b1);
 }

 #phone {
  border-color: var(--b3);
  border-width: 3px;
  box-shadow: 5px 5px 2px 1px var(--b1);
 }

 #next {
  border-color: var(--b4);
  border-width: 3px;
  box-shadow: 5px 5px 2px 1px var(--b1);
 }

 #offer {
  border-color: var(--b5);
  border-width: 3px;
  box-shadow: 5px 5px 2px 1px var(--b1);;
 }


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
